<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:mvc="http://www.springframework.org/schema/mvc"  
    xsi:schemaLocation="  
        http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/context  
        http://www.springframework.org/schema/context/spring-context.xsd  
        http://www.springframework.org/schema/mvc  
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <mvc:annotation-driven />
    
    <context:component-scan base-package="com.i2i.cinemax.controller"/>	

    <bean class = "org.springframework.web.servlet.view.InternalResourceViewResolver">
      <property name = "prefix" value = "/" />
      <property name = "suffix" value = ".jsp" />
   </bean>
 
    <bean id="userService" class="com.i2i.cinemax.service.impl.UserServiceImpl">  
        <constructor-arg ref="userDao"/>
        <constructor-arg ref="theatreService"/>
        <constructor-arg ref="movieService"/>
    </bean>  
    <bean id="userDao" class="com.i2i.cinemax.dao.UserDao"/>
    
    
    <bean id="theatreService" class="com.i2i.cinemax.service.impl.TheatreServiceImpl">
        <constructor-arg ref="theatreDao"/>
    </bean>
    <bean id="theatreDao" class="com.i2i.cinemax.dao.TheatreDao"/>
    
    <bean id="movieService" class="com.i2i.cinemax.service.impl.MovieServiceImpl">
        <constructor-arg ref="movieDao"/>
        <constructor-arg ref="theatreService"/>
    </bean>
    <bean id="movieDao" class="com.i2i.cinemax.dao.MovieDao"/>
   
    </beans>  
